@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');

* {
    font-family: 'Blinker', sans-serif;
}

body {
    margin: 0 auto;

    display: flex;

    justify-content: center;
}

.background {
    position: absolute;
    width: 80%;
    height: 20vw;

    margin-top: 85vh;
    margin-left: 15vh;
    filter: blur(10em);

    object-fit: cover;

    z-index: -1;
}

/* .scroll-anchor {
    display: grid;

    position: fixed;
    top: 78%;

    transition: all 300ms;
}

.scroll-anchor:hover {

    top: 77%;

    transition: all 300ms;
}

.scroll-anchor p {

    font-weight: bold;
    text-align: center;

    margin-bottom: 4vh;

    color: #0288d1;
    cursor: default;

    opacity: 0;

    transition: opacity 300ms;
}

#drop {

    background-color: #0288d1;
    height: 8.5vh;
    width: 8.5vh;
    border: solid 0.04vw #FFFFFF50;
    border-radius: 50%;
    border-top-left-radius: 0;
    box-shadow: inset -1.3vh 0.5vh 0px -0.5vh #03a9f4;

    transform: rotate(45deg);

    cursor: pointer;

    transition: all 300ms;

} */

nav {

    position: fixed;
    left: 0;

    background-color: #FFF;

    width: 15vh;
    height: 100vh;

    z-index: 3;

}

ul, li {
    list-style-type: none;
    padding: 0;
}

li.menu:hover {
    background-color: #21212110;
    cursor: pointer;
}

ul li {
    position: relative;

    width: 100%;
    height: 5em;

    margin: 0 auto;
}

li .menu, li div.item-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

li a:hover {
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
}

.menu, .item-menu {
    width: 100%;
}

.item-menu {
    cursor: pointer ;
}

li .menu {
    margin-top: 10%;
}

li.desabilitado{
    background-color: #21212110;
}

a.desabilitado {
    color: green;
}


main {
    width: 85%;
    margin-left: 7.5%;
}

.rows {
    margin: 7% 0;
    justify-content: center;
}

.rows img {
    border-radius: 3%;
    box-shadow: 3px 3px #FFFFFF80;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li p, .title {
    text-transform: uppercase;
}

h1.title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 2px #00808050;

    margin: 5% 0;
    color: #008000;
}

.box {
    background-color: whitesmoke;

    border-radius: 5%;
    box-shadow: 3px 3px #00000010;

    margin: 2vh 5vh;

    min-width: 200px;

}

.box > h2, .box p {
    text-align: center;
}

.box > h2 {
    margin: 0.5em 0;
}

.box p {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.boxf p {
    margin-top: 1em;
    margin-bottom: 5em;
}

.frases .boxf {
    border-left: solid 2px black;
    padding-left: 5%;
    padding-bottom: 2%;
    text-align: left;
    margin: 5em;

}

.frases div {
    justify-content: center;
    align-items: center;
}

.frases p {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frases h3 {
    margin: 2% 0;
}

.frases {
    margin: 7% 0;
}

.frases {
    text-align: center;
}

.boxf a {
    color: green;
    text-align: center;
    padding: 6px;
    margin-top: -5%;
    position: absolute;
    width: 200px;
    height: 40px;
    border: solid 1px greenyellow;
    border-radius: 2em;
    background-color: white;
    text-decoration: none;

    transition: color 300ms;
    transition: background-color 700ms;
}

.boxf a:hover {
    border: #00800080;
    background-color: #00800080;
    color: white;

    transition: color 300ms;
    transition: background-color 700ms; 
}

footer {
    margin-top: auto;
    padding : 25px 0 10px;

    text-align: center;

    border-top: 1px solid #00000010;
}

body > a {
    display: none;
    position: absolute;
    text-decoration: none;
    color: black;
    top: 3.5%;
    left: 47.5%;
}

body > a:hover {
    color: black;
}

::-webkit-scrollbar {
    width: 1.2%;
    background-color: #21212110;
}

::-webkit-scrollbar-thumb {
    background-color: #21212130;
}

@media(max-width: 800px) {
    nav {
        display: none;
    }

    main {
        margin-left: 0;
    }

    .background {
        display: none;
    }

    .frases .boxf {
        border-left: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 5% 0;
    }

    .boxf a {
        margin: 0;
        position: relative;
        padding: 0.3em 2em;
    }

    main {
        margin-top: 10%;
        padding: 0;
    }

    body > a {
        display: block;
    }
}