@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&display=swap');

* {
    font-family: 'Blinker', sans-serif;
}

body {
    margin: 0 auto;

    display: flex;

    justify-content: center;

    background-color: #FFF;
}

.scroll-anchor {
    display: grid;

    position: fixed;
    top: 78%;

    transition: all 300ms;
}

.scroll-anchor:hover {

    top: 77%;

    transition: all 300ms;
}

.scroll-anchor p {

    font-weight: bold;
    text-align: center;

    margin-bottom: 4vh;

    color: #0288d1;
    cursor: default;

    opacity: 0;

    transition: opacity 300ms;
}

#drop {

    background-color: #0288d1;
    height: 8.5vh;
    width: 8.5vh;
    border: solid 0.04vw #FFFFFF50;
    border-radius: 50%;
    border-top-left-radius: 0;
    box-shadow: inset -1.3vh 0.5vh 0px -0.5vh #03a9f4;

    transform: rotate(45deg);

    cursor: pointer;

    transition: all 300ms;

}

main {
    width: 85%;
    margin-left: 7.5%;
}

nav {

    position: fixed;
    left: 0;

    background-color: #21212110;


    width: 15vh;
    height: 100vh;

}

ul, li {
    list-style-type: none;
    padding: 0;
}

li.menu:hover {
    background-color: #21212110;
    cursor: pointer;
}

ul li:first-child i {
    transition: all 300ms;
}

ul li:first-child i:hover {
    transform: rotate(-90deg);

    transition: all 300ms;
}

ul li {
    position: relative;

    width: 100%;
    height: 5em;

    margin: 0 auto;
}

li .menu, li div.item-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

li a:hover {
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
}

.item-menu {
    cursor: pointer ;
}

li .menu {
    margin-top: 10%;
}

li.desabilitado{
    background-color: #21212110;
}

a.desabilitado {
    color: green;
}

h1.title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 2px #00808050;

    margin-top: 7%;
    color: #008000;
}

.frases {
    margin: 7% 0;
}

.frases {
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
}

@media(max-width: 800px) {
    nav {
        display: none;
    }

    main {
        margin-left: 0;
    }
}

@media(max-width: 800px) {
    nav {
        display: none;
    }

    main {
        margin-left: 0;
    }
}